body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    text-transform: none;
    color: #273353;
}

h1{
    font-size:2.6rem;
    text-align: center;
    text-transform: uppercase;
    padding:0;
}

h1+hr{
    width:5%;
}

h2{
    font-size:2.2rem;
    font-weight: 700;
}

h3{
    font-size:1.8rem;
}

h4{
    font-size:1.4rem;
}

a{
    color:rgb(5, 68, 164);
    text-decoration:none;
}

img{
    max-width: 100%;
}
.white{
    color: #ffffff;
}
#content{
    margin-bottom: 20px;
}

#logo{
    max-width:100%;
    height: auto;
    display:inline-block;
    margin:40px 0;
}

nav{
    display: flex;
    justify-content: center;
}

nav .navbar-nav{
    margin:0 auto;
}

nav.bg-light{
    background-color:#524c4c !important;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-right:1.5rem;
    padding-left:1.5rem;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-expand-md .navbar-nav .nav-link:hover,.navbar-nav .nav-item.active .nav-link{
    /* background-color: rgba(96, 94, 92, 0.78); */
    color:#273353;
    text-decoration: none;
    transition: 0.7s;
}
nav ul li a::after{
    display: inline-block;
    content:" ";
    border-right:2px solid #fff;
    height:1rem;
    padding-left:2rem;
}

nav ul li:last-child a::after{
    display: none;
}
   
header{
    border-top: 10px solid #524c4c;
}

#header-right{
    float: right;
}
#header-right .nav-login{
    display:flex;
    flex-direction: row;
}
#header-right ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#header-right ul li a{
    text-decoration: none;
    color: #333;
    padding-right: 1rem;
}
#header-right ul li ::after{
    content: "";
    display: inline-block;
    border-right: 1px solid #333;
    height: 1rem;
    padding-left: 1rem;
}
#header-right ul li:last-child a::after{
    display: none;
}
main{

}

main .content{
    padding-bottom:20px;
}

.carousel-indicators {
    bottom: 0;
}

.vertical-center {
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#carouselIndicators{
    border-bottom: 10px solid #524c4c;
}
#carouselIndicators img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#map{
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.sidebar-container{
    padding: 20px;
    text-align: center;
    height: 100%;
    background-color: #c5c5c5;
}

.detail-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px 0;
}
.detail-container .event-box{
    position: relative;
    width: 100%;
}
.detail-container .event-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.detail-container .event-box .title-box{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgba(82, 76, 76, 0.5);
}
.detail-container .event-box .title-box a{
    text-decoration: none;
}
.detail-container .event-box .title-box h3{
    margin-top: 10px;
}
.button-box{
    display: flex;
    justify-content: space-around;
}
.button-box .button{
    padding: 10px 100px;
}

h1.lined:after,
h2.lined:after {
  content: '';
  display: block;
  margin: 35px auto 0;
  width: 68px;
  height: 2px;
  background-color: #007f00;
}

.center{
    text-align: center;
}

footer{
    background-color:#2b2b2b;
    padding:40px 0;
    text-align: left;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul{
    list-style-type: none;
    padding: 0;
}
footer ul li a{
    color: #c5c5c5;
    text-transform: uppercase;
    padding: 0 10px;
}
footer ul li a:hover{
    text-decoration: none;
}

.icon-border{
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
}
.social-icon{
    color:#fff;
    text-decoration: none;
    margin-top: 50%;
}
.line{
    background-color: #636363;
    margin: 40px 10% 10px 10%;
    padding: 1px 0;
}
#copyright .nav-copyright{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
#copyright ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#copyright ul li a{
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: none;
    padding-right: 1rem;
    padding-left: 0;
}
#copyright ul li ::after{
    content: "";
    display: inline-block;
    border-right: 2px solid #636363;
    height: 0.8rem;
    padding-left: 1rem;
}
#copyright ul li:last-child a::after{
    display: none;
}

.button{
    display:inline-block;
    padding:10px 20px;
    color:#fff;
    background-color:#346951;
    text-decoration: none;
    border-radius: 5px;
    font-size:1.2rem;
    border:1px solid #346a51;
}

.button:hover{
    color:#fff;
    background-color:#2b2b2b;
    text-decoration: none;
    transition: .7s;
    border:1px solid #1d1a1a;
}
.dropdown-item:hover {
    color:#fff;
    text-decoration:none;
    background-color:#346951;
}


/* End Home Template CSS - Start Upcoming Event Page CSS */
.f-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.event-container{
    display: flex;
    flex-direction: row;
    margin: 1rem 2rem;
    padding: 10px 20px;
    border: 2px solid #346951;
    border-radius: 5px;
    width: 40%;
    background-color:rgba(240, 197, 197,0.5);
}
/* Start CSS for eventDetail page */
#eventDetail .event-container{
    width: 100%;
    height: 100%;
    margin: 0;
}
#eventDetail .event-container .date-container{
    flex-direction: column;
}
#eventDetail .event-container .date-container p{
    height: 100px;
}
#eventDetail .event-container .detail .button-container{
    position: absolute;
    bottom: 20px;
}
#eventDetail .event-container .detail .button-container .button {
    padding: 10px 50px;
}
/* End CSS for eventDetail page */
.event-container .date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 0 10px;
}
.event-container .date-container p{
    width: 70px;
    height: 80px;
    background-color: #B899DF;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5rem;
    margin: 1rem 0;
}
.event-container .date-container p .month{
    font-size: 1.4rem;
    display: block;
}
.event-container .date-container p .day{
    display: block;
    font-size: 2rem;
    font-weight: bold;
}
.event-container .detail{
    padding-left: 20px;
}
.event-container .detail .button{
    padding: 5px 20px;
    font-size: 1rem;
}
.event-container .detail h3{
    font-size: 2rem;
    color: #137ebe;
}
.event-container .detail h4{
    font-size: 1.2rem;
    font-weight: normal;
}
/* Start CSS for My Events page */
.title-container{
    position: relative;
}
.title-container .button{
    position: absolute;
    top:0;
    right: 0;
}
.button-small{
    padding: 10px 10px !important; 
}
.md-height{
    height: 360px;
}
/* End CSS for My Events page */